@import '../../core/scss/variables.scss';
:host {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  .menu {
    display: none;
    position: absolute;
    border: 1px solid $dark-1;
    z-index: 99;
    background-color: $white;
    border-radius: $radius;
    width: max-content;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-title {
    padding-left: padding(1);
  }

  .menu-display {
    display: block;
  }
}