<div class="content-container">
  <div class="comment-header">
    <div class="comment-author">
      <fa-stack *ngIf="!isUser">
        <fa-icon class="avatar-background" [icon]="circle" stackItemSize="2x" ></fa-icon>
        <fa-icon class="avatar-foreground" [icon]="user" stackItemSize="1x"></fa-icon>
      </fa-stack>
      <img *ngIf="isUser" [src]="comment?.user.picture" class="user-profile-picture-small">
      <span>{{userName}} schreibt:</span>
    </div>
    <div>
      <fa-icon class="comment-actionline-smallspace" [icon]="calendar"></fa-icon>
      <span>
        {{comment?.creationDate.toLocaleDateString()}} um {{comment?.creationDate.toLocaleTimeString()}}
      </span>
    </div>
  </div>
  <p>{{comment?.commentText}}</p>
  <div class="comment-footer">
      <button (click)="onShowCommentForm()" title="Antworten" class="comment-actionline-space btn btn-light">
          <fa-icon [icon]="share"></fa-icon>
          Antworten
      </button>
      <!--Feature not implemented yet-->
      <button *ngIf="false" title="Melden" class="comment-actionline-space btn btn-light">
          <fa-icon [icon]="exclamation"></fa-icon>
          Melden
      </button>
  </div>
</div>
<div *ngIf="comment?.answers && comment?.answers.length > 0 || isAnswerTo" class="comment-answer-container">
  <app-comment-form *ngIf="isAnswerTo" [articleId]="comment?.articleId" [commentId]="comment?.commentId"></app-comment-form>
  <app-comment *ngFor="let answer of comment?.answers" [comment]="answer"></app-comment>
</div>
