<div>
  <h1>Blogeintrag editieren</h1>
  <div *ngIf="isSaving || isSaved">
    <fa-icon [icon]="iconSpinner" [pulse]="isSaving"></fa-icon>
  </div>
</div>

<input type="text" class="title-input margin-bottom-1" [(ngModel)]="article.title" (change)="onUpdateArticleTitle()" placeholder="Titel des Blogeintrag">
<div class="flex margin-bottom-1">
  <div class="flex-grow">
    <ckeditor
      #blogEditor
      [editor]="editor"
      (blur)="onUpdateArticleText($event)">
    </ckeditor>
  </div>
  <div class="article-setting-container flex-shrink margin-left-1">
    <h2>Einstellungen</h2>
    <app-article-setting name='Status' type='select' [setting]="article.status" (settingChange)="onStatusUpdate($event)"></app-article-setting>
    <app-article-setting name='Kommentare' type='switch' label='Kommentare erlauben' [setting]="article.hasCommentsEnabled" (settingChange)="onCommentAllowUpdate($event)"></app-article-setting>
    <app-article-setting name='Autor und Datum' type='switch' label='Autor und Datum anzeigen' [setting]="article.hasDateAuthorEnabled" (settingChange)="onDisplayAuthorDateUpdate($event)"></app-article-setting>
    <app-article-setting name='Erstelldatum' type='date' [setting]="article.creationDate" (settingChange)="parseUpdatedDate($event)"></app-article-setting>
  </div>
</div>