<div class="editor-head-container">
  <h1 class="mr-2">Blogeintrag editieren</h1>
  <div *ngIf="isSaving || isSaved || isFailed">
    <fa-icon *ngIf="isSaving" [icon]="iconSpinner" [pulse]="isSaving"></fa-icon>
    <div *ngIf="isSaved && !isSaving" class="status-container ok">
      <fa-icon class="mr-1"  [icon]="iconCheck"></fa-icon>
      <span>Erfolgreich gespeichert</span>
    </div>
    <div *ngIf="isFailed && !isSaving" class="status-container danger">
      <fa-icon class="mr-1"  [icon]="iconTimes"></fa-icon>
      <span>Speichern fehlgeschlagen</span>
    </div>
  </div>
</div>

<input type="text" class="title-input mb-1" [(ngModel)]="article.title" (change)="onUpdateArticleTitle()" placeholder="Titel des Blogeintrag">
<div class="flex mb-1">
  <div class="flex-grow">
    <ckeditor
      #blogEditor
      [editor]="editor"
      (blur)="onUpdateArticleText($event)">
    </ckeditor>
  </div>
  <div class="article-setting-container flex-shrink ml-1">
    <h2>Einstellungen</h2>
    <app-article-setting name='Status' type='status'></app-article-setting>
    <app-article-setting name='Kommentare' type='allowComments' label='Kommentare erlauben'></app-article-setting>
    <app-article-setting name='Autor und Datum' type='showDateAuthor' label='Autor und Datum anzeigen'></app-article-setting>
    <app-article-setting name='Erstelldatum' type='createDate'></app-article-setting>
    <app-article-setting name='Kategorien' type='category'></app-article-setting>
  </div>
</div>