<div class="dashboard-post-list-header">
  <h1>Blog</h1>
  <a [routerLink]="['edit']" class="btn btn-dark">Neuer Blogeintrag</a>
</div>

<p>Blog einträge verwalten und erstellen.</p>

<app-list-action-bar (ExecuteAction)="executeAction($event)" (ListFilterUpdate)="listFilterUpdate($event)" (ClearTrash)="deleteArticles()"></app-list-action-bar>

<table>
  <thead>
    <tr>
      <th>
        <app-checkbox [isIndeterminate]="isIndeterminate" [isChecked]="isAllSelected" (change)="setAllSelected($event)"></app-checkbox>
      </th>
      <th>Title</th>
      <th>Autor</th>
      <th>Status</th>
      <th>Datum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles; let i = index">
      <td>
        <app-checkbox [isChecked]="selectedArticles[i]" (change)="setSelected(i)"></app-checkbox>
      </td>
      <td>
        <a [routerLink]="['edit', article.title]">
          {{article.title}}
        </a>
      </td>
      <td>{{article.author}}</td>
      <td>
        <div (click)="openStatusChange(i)" class="pos-relative tooltip-trigger cursor-pointer">
          <fa-icon *ngIf="article.status !== 'trash'"
          [icon]="iconStatus"
          [ngClass]="{
            'danger-text': article.status === 'draft',
            'warn-text': article.status === 'private',
            'ok-text': article.status === 'public'
          }"></fa-icon>
          <fa-icon class="danger-text"  *ngIf="article.status === 'trash'" [icon]="iconTrash"></fa-icon>
          <div class="tooltip" [ngClass]="{'hide': statusMenuOpen === i}">
            {{getStatusTooltip(article.status)}}
          </div>
        </div>
        <app-status-change-menu [isOpen]="statusMenuOpen === i" (isOpenChange)="onMenuClose($event)" (updateStatus)="updateStatus($event, i)"></app-status-change-menu>
      </td>
      <td>
        <div>Erstell Datum: {{article.creationDate.toLocaleDateString()}}</div>
        <div>Zuletzt geändert: {{article.modificationDate.toLocaleDateString()}}</div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>
        <app-checkbox [isIndeterminate]="isIndeterminate" [isChecked]="isAllSelected" (change)="setAllSelected($event)"></app-checkbox>
      </th>
      <th>Title</th>
      <th>Autor</th>
      <th>Status</th>
      <th>Datum</th>
    </tr>
  </tfoot>
</table>
