@import '../../../../core/scss/variables.scss';
:host {
  display: block;
  padding: padding(1);

  .dashboard-post-list-header {
    display: flex;
    align-items: center;

    h1 {
      margin-right: margin(2);
    } 
  }
  .dashboard-post-list-action-bar {
    margin: margin(2) margin(0);
    display: flex;
    align-items: flex-end;    
  }
  
  .dashboard-post-list-action-bar > div:not(:last-child) {
    margin-right: margin(2);
  }

}