<div class="dashboard-post-list-header">
  <h1>Blog</h1>
  <a [routerLink]="['edit']" class="btn btn-dark btn-link">Neuer Blogeintrg</a>
</div>

<p>Blog einträge verwalten und erstellen.</p>

<div class="dashboard-post-list-action-bar">
  <div class="action">
    <div>Aktion wählen:</div>
    <div class="control-group horizontal-group">
      <select [(ngModel)]="selectedAction">
        <option value="" disabled selected hidden>-- Aktion wählen --</option>
        <option value="public">Veröffentlichen</option>
        <option value="private">Auf Privat setzen</option>
        <option value="draft">Auf Entwurf setzen</option>
        <option value="trash">In den Papierkorb verschieben</option>
      </select>
      <button class="btn btn-dark" (click)="executeAction()">Ausführen</button>
    </div>
  </div>
  <div class="date-range-filter flex flex-column">
    <div>Zeitraum filtern:</div>
    <div class="flex">
      <label class="label control-group" for="filter-start-date">
        <div>
          <span>Start:</span>
        </div>
        <input id="filter-start-date" type="date" [(ngModel)]="startDate" (change)="changeDateFilter()" [max]="endDate">
      </label>
      <label class="label control-group margin-left-1 " for="filter-end-date">
        <div>
          <span>Ende:</span>
        </div>
        <input id="filter-end-date" type="date" [(ngModel)]="endDate" (change)="changeDateFilter()" [min]="startDate">
      </label>
    </div>
  </div>
  <div class="status-filer">
    <div>Status Filter:</div>
    <select [(ngModel)]='selectedStatus' (change)='changeStatusFilter()'>
      <option value="trash">Papierkorb</option>
      <option value="all" selected>Alle</option>
      <option value="public">Öffentlich</option>
      <option value="private">Privat</option>
      <option value="draft">Entwurf</option>
    </select>
  </div>
  <div class="search-filter">
    <div>Durchsuchen:</div>
    <input type="search" [(ngModel)]="searchTerm" (input)="changeSearchterm()">
  </div>
  <div class="reset-filter pos-relative tooltip-trigger">
    <button class="btn btn-icon" (click)="resetFilter()">
      <fa-layers size="2x">
        <fa-icon [icon]="iconSlash" [mask]="iconFilter"></fa-icon>
        <fa-icon [icon]="iconSlash" transform="up-2 left-2" class="danger-text"></fa-icon>
      </fa-layers>
    </button>
    <div class="tooltip">
      Filter zurücksetzen
    </div>
  </div>
  <div class="clear-trash pos-relative tooltip-trigger">
    <button class="btn btn-icon danger-text">
      <fa-icon [icon]="iconTrash" size="2x"></fa-icon>
    </button>
    <div class="tooltip">
      Papierkorb leeren
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>
        <app-checkbox [isIndeterminate]="isIndeterminate" [isChecked]="isAllSelected" (StateChanged)="setAllSelected($event)"></app-checkbox>
      </th>
      <th>Title</th>
      <th>Autor</th>
      <th>Status</th>
      <th>Datum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles; let i = index">
      <td>
        <app-checkbox [isChecked]="selectedArticles[i]" (StateChanged)="setSelected(i)"></app-checkbox>
      </td>
      <td>{{article.title}}</td>
      <td>{{article.author}}</td>
      <td>
        <div (click)="openStatusChange(i)" class="pos-relative tooltip-trigger">
          <fa-icon *ngIf="article.status !== 'trash'" 
          [icon]="iconStatus"
          [ngClass]="{
            'danger-text': article.status === 'draft', 
            'warn-text': article.status === 'private',
            'ok-text': article.status === 'public' 
          }"></fa-icon>
          <fa-icon class="danger-text"  *ngIf="article.status === 'trash'" [icon]="iconTrash"></fa-icon>
          <div class="tooltip" [ngClass]="{'hide': statusMenuOpen === i}">
            {{getStatusTooltip(article.status)}}
          </div>
        </div>
        <div class="menu" [ngClass]="{'display-block': statusMenuOpen === i}" >
          <div class="control-group vertical-group">
            <button class="btn btn-light text-left" (click)="updateStatus('draft', i)">
              <fa-icon class="danger-text" [icon]="iconStatus"></fa-icon>
              Auf Entwurf setzen
            </button>
            <button class="btn btn-light text-left" (click)="updateStatus('private', i)">
              <fa-icon class="warn-text" [icon]="iconStatus"></fa-icon>
              Auf Privat setzen
            </button>
            <button class="btn btn-light text-left" (click)="updateStatus('public', i)">
              <fa-icon class="ok-text" [icon]="iconStatus"></fa-icon>
              Veröffentlichen
            </button>
            <button class="btn btn-light text-left" (click)="updateStatus('trash', i)">
              <fa-icon class="danger-text" [icon]="iconTrash"></fa-icon>
              In den Papierkorb verschieben
            </button>
            </div>
        </div>
      </td>
      <td>
        <div>Erstell Datum: {{article.creationDate.toLocaleDateString()}}</div>
        <div>Zuletzt geändert: {{article.modificationDate.toLocaleDateString()}}</div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>
        <app-checkbox [isIndeterminate]="isIndeterminate" [isChecked]="isAllSelected" (StateChanged)="setAllSelected($event)"></app-checkbox>
      </th>
      <th>Title</th>
      <th>Autor</th>
      <th>Status</th>
      <th>Datum</th>
    </tr>
  </tfoot>
</table>

