@import '../../../../core/scss/variables.scss';
:host {
  flex: 1;
  padding: padding(1);
}


.status-draft {
  color: $signalerror;
}

.status-private {
  color: $signalwarn;
}

.status-public {
  color: $signalok;
}

.popup {
  display: none;
  flex-direction: column;
  padding: padding(0.5);
  border: solid 1px $grey-1;
  width: fit-content;
  background: $white;
  box-shadow: 1px 1px 10px 1px $grey-3;
  position: absolute;
  left: 25px;
  top: 20px;
}

.popup-button {
  flex: 1;
  text-align: left;
  width: 175px;
}

.popup-open {
  display: flex;
}