@import '../../../../core/scss/variables.scss';
:host {
  display: block;
  padding: padding(1);

  .dashboard-sites-list-header {
    display: flex;
    align-items: center;

    h1 {
      margin-right: margin(2);
    }
  }
}