<label>
  <input [indeterminate]="isIndeterminate" [value]="isChecked" (click)="onClick($event)" (change)="onChange($event)" type="checkbox">
  <fa-icon [icon]="['far', 'square']" *ngIf="!isChecked && !isIndeterminate" size="lg"></fa-icon>
  <fa-icon class="ok-text" [icon]="['far', 'check-square']" *ngIf="isChecked && !isIndeterminate" size="lg"></fa-icon>
  <fa-icon class="info-text" [icon]="['far', 'square-minus']" *ngIf="!isChecked && isIndeterminate" size="lg"></fa-icon>
  <span>{{label}}</span>
</label>


