<app-collapsible-content-box [initialState]="true">
  <content-box-header>
    <h1 class="icon-header">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
      <span>Suchergebnisse für {{searchRequest.term}}:</span>
    </h1>
  </content-box-header>
  
  <content-box-body>
    <form [formGroup]="searchForm" (submit)="onStartSearch()">
      <p>Erweiterte Sucheinstellungen</p>
      <div class="search-setting-container">
        <div class="search-setting-row mb-1">
          <label class="label control-group horizontal-group">
            <div>
              <span>Text:</span>
            </div>
            <input type="text" formControlName="term">
          </label>
          <label class="label control-group horizontal-group">
            <div>
              <span>Von:</span>
            </div>
            <input type="date" formControlName="start" [max]="searchForm.value['end']">
          </label>
          <label class="label control-group horizontal-group">
            <div>
              <span>Bis:</span>
            </div>
            <input type="date" formControlName="end" [min]="searchForm.value['start']">
          </label>
        </div>
        <div class="search-setting-row">
          <app-checkbox label="Textsuche" formControlName="isTextSearch"></app-checkbox>
          <app-checkbox label="Titelsuche" formControlName="isTitleSearch"></app-checkbox>
          <app-checkbox label="Tagsuche" formControlName="isTagSearch"></app-checkbox>
          <app-checkbox label="Kategoriensuche" formControlName="isCategorySearch"></app-checkbox>
        </div>
      </div>
      <div class="search-action-container">
        <button class="btn btn-primary">Suche starten</button>
      </div>
    </form>
  </content-box-body>
</app-collapsible-content-box>

<div *ngIf="searchResult.articles && searchResult.articles?.length > 0">
  <app-article-result [articles]="searchResult.articles"></app-article-result>
</div>

<div *ngIf="searchResult.categoryList && searchResult.categoryList?.length > 0">
  <app-category-result [categoryList]="searchResult.categoryList"></app-category-result>
</div>

<div *ngIf="searchResult.tagList && searchResult.tagList?.length > 0">
  <app-tag-result [tagList]="searchResult.tagList"></app-tag-result>
</div>

