<ul class="main-nav">
  <li class="main-entry">
    <a routerLink="/blog" routerLinkActive="primary-dark">Startseite</a>
  </li>
  <li *ngFor="let menu of navMenu" class="main-entry" [ngClass]="menu.isDropdown ? '': 'dropdown'">
    <a *ngIf="!menu.isLabel" [routerLink]="[menu.link]" routerLinkActive="primary-dark">{{menu.displayText}}</a>
    <a *ngIf="menu.isLabel" routerLinkActive="primary-dark">{{menu.displayText}}</a>
    <ul class="child-nav">
      <li *ngFor="let child of menu.childNavmenu" class="child-entry">
        <a *ngIf="!child.isLabel" [routerLink]="[child.link]" routerLinkActive="primary-dark">{{child.displayText}}</a>
        <a *ngIf="child.isLabel" routerLinkActive="primary-dark">{{child.displayText}}</a>
      </li>
    </ul>
  </li>
</ul>
