<ul class="main-nav">
  <li class="main-entry">
    <a routerLink="/blog" routerLinkActive="primary-dark">Startseite</a>
  </li>
  <li *ngFor="let menu of navMenu" class="main-entry" [ngClass]="menu.isDropdown ? '': 'dropdown'">
    <a [routerLink]="['/page', menu.title]" routerLinkActive="primary-dark">{{menu.displayText || menu.title}}</a>
    <ul class="child-nav">
      <li *ngFor="let child of menu.children" class="child-entry">
        <a [routerLink]="['/page', child.title]" routerLinkActive="primary-dark">{{child.displayText || child.title}}</a>
      </li>
    </ul>
  </li>
</ul>
