@import '../../../../core/scss/variables.scss';
:host{
  display: block;

  .main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .main-entry a {
    display: block;
    padding: padding(2) padding(4);
    text-decoration: none;
    color: inherit;
  }

  .main-entry:hover,
  .child-entry:hover {
    background-color: $primary-dark;
    color: $white;
  }

  .child-nav {
    position: absolute;
    display: none;
    list-style: none;
    background-color: $primary;
    padding: 0;
  }

  .dropdown:hover .child-nav {
    display: block;
  }
}