<ul class="nav-list">
  <li>
    <a class="nav-entry" [routerLink]="['overview']">
      <fa-icon [icon]="tachometer"></fa-icon>
      Dasboard
    </a>
  </li>
  <li>
    <a class="nav-entry" [routerLink]="['posts']">
      <fa-icon [icon]="edit"></fa-icon>
      Blog
    </a>
  </li>
  <li>
    <a class="nav-entry" [routerLink]="['pages']">
      <fa-icon [icon]="page"></fa-icon>
      Seiten
    </a>
  </li>
  <li>
    <a class="nav-entry" [routerLink]="['navmenu']">
      <fa-icon [icon]="menu"></fa-icon>
      Menu
    </a>
  </li>
</ul>