<ul class="nav-list">
  <li>
    <a class="nav-entry" [routerLink]="['overview']" routerLinkActive="primary-dark">
      <fa-icon [icon]="tachometer"></fa-icon>
      Dasboard
    </a>
  </li>
  <li>
    <a #rlaBlog="routerLinkActive" class="nav-entry" [routerLink]="['posts']" routerLinkActive="primary-dark">
      <fa-icon [icon]="edit"></fa-icon>
      Blog
    </a>
    <ul *ngIf="rlaBlog.isActive" class="nav-child-list">
      <li class="nav-entry">
        <fa-icon [icon]="tags"></fa-icon>
        Tags
      </li>
      <li class="nav-entry">
        <fa-icon [icon]="list"></fa-icon>
        Kategorien
      </li>
    </ul>
  </li>
  <li>
    <a class="nav-entry" [routerLink]="['pages']" routerLinkActive="primary-dark">
      <fa-icon [icon]="page"></fa-icon>
      Seiten
    </a>
  </li>
  <li>
    <a class="nav-entry" [routerLink]="['comments']" routerLinkActive="primary-dark">
      <fa-icon [icon]="comments"></fa-icon>
      Kommentare
    </a>
  </li>
  <li>
    <a class="nav-entry" [routerLink]="['navmenu']" routerLinkActive="primary-dark">
      <fa-icon [icon]="menu"></fa-icon>
      Menu
    </a>
  </li>
</ul>