<div class="setting-container">
  <div class="setting-header" (click)="openStatusSettings()">
    <span>{{name}}</span>
    <span>
      <fa-icon [icon]="iconStatus"></fa-icon>
    </span>
  </div>
  <div class="setting-body" [ngClass]="{'open': isSettingOpen === true}">
    <div *ngIf="type === 'status'">
      <select [(ngModel)]="article.status" (ngModelChange)="updateStatus()" class="mr-1">
        <option value="public">Öffentlich</option>
        <option value="private">Privat</option>
        <option value="draft" selected>Entwurf</option>
      </select>
      <fa-icon [ngClass]="{'danger-text': article.status === 'draft', 
                'warn-text': article.status  === 'private',
                'ok-text': article.status  === 'public'}" [icon]="iconCircle"></fa-icon>
    </div>
    
    <app-toggle-switch *ngIf="type === 'allowComments'" [(isToggleOn)]="article.hasCommentsEnabled" (isToggleOnChange)="updateToggle()" [label]="label"></app-toggle-switch>
    <app-toggle-switch *ngIf="type === 'showDateAuthor'" [(isToggleOn)]="article.hasDateAuthorEnabled" (isToggleOnChange)="updateToggle()" [label]="label"></app-toggle-switch>

    <input *ngIf="type === 'createDate'" type="date" [(ngModel)]="displayedDate" (ngModelChange)="updateCreationDate()">

    <app-category-setting *ngIf="type === 'category'"></app-category-setting>
  </div>
</div>
