<div class="content-container">
  <h1 class="article-header">
    <a>{{article?.title}}</a>
  </h1>
  <div class="article-info" *ngIf="article?.hasDateAuthorEnabled">
    <fa-icon [icon]="user"></fa-icon>
    {{article?.author}} /
    <fa-icon [icon]="calendar"></fa-icon>
    verfasst am {{article?.creationDate.toLocaleDateString()}}
  </div>
  <div class="article-content" [innerHTML]="article?.articleText"></div>
  <div class="article-footer">
    <span *ngIf="article?.hasCommentsEnabled">
      <a *ngIf="false">
        <fa-icon [icon]="edit"></fa-icon>
        Bearbeiten
      </a>
    </span>
  </div>
</div>
<div class="content-container">
  <h2>
    <fa-icon [icon]="comments"></fa-icon>
    Kommentare
  </h2>
</div>

<app-comments [articleId]="article?.articleId"></app-comments>
