:host {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;

  .blog-header {
    margin: 0;
    margin-bottom: 16px;
    font-size: 2rem;
  }

  .blog-content,
  .blog-footer {
    margin-top: 32px;
  }

  .blog-info,
  .blog-footer {
    font-size: .9rem
  }
}