/* You can add global styles to this file, and also import other style files */
@import './app/core/scss/variables.scss';
@import './app/core/scss/controls.scss';
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: Roboto, sans-serif;
}

th, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.danger {
  background-color: $signaldanger;
  color: $white !important;
}

.danger-text {
  color: $signaldanger !important;
}

.warn {
  background-color: $signalwarn;
  color: $black !important;
}

.warn-text {
  color: $signalwarn !important;
}

.info {
  background-color: $signalinfo;
  color: $white !important;
}

.info-text {
  color: $signalinfo !important;
}

.ok {
  background-color: $signalok;
  color: $white !important;
}

.ok-text {
  color: $signalok !important;
}

.primary {
  background-color: $primary;
  color: $white !important;
}

.primary-light {
  background-color: $primary-light;
  color: $black !important;
}

.primary-dark {
  background-color: $primary-dark;
  color: $white !important;
}

.secondary {
  background-color: $secondary;
  color: $black !important;
}

.secondary-light {
  background-color: $secondary-light;
  color: $black !important;
}

.secondary-dark {
  background-color: $secondary-dark;
  color: $black !important;
}

.radius {
  border-radius: $radius;
}

.ng-invalid:not(form) {
  border-color: $signaldanger !important;
  box-shadow: 0px 0px 1px 1px rgba(161, 38, 45, 0.5) !important;
}

.auto-overflow {
  overflow: auto;
}

.content-container {
  background-color: $white;
  padding: padding(2);
  margin-top: margin(3);
  border-radius: $radius;
  border: 1px solid $grey-2;
  box-shadow: 0px 0px 5px 1px rgba(204, 204, 204, 0.5);
}

.flex {
  display: flex;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-shrink {
  flex: 0 1 auto;
}

.flex-column {
  flex-direction: column;
}

.pos-relative {
  position: relative;
}

.tooltip {
  background-color: #1a1a1acc;
  color: white;
  border-radius: $radius;
  padding: padding(1);
  position: absolute;
  display: none;
  width: 160px;
  text-align: center;
  left: -45px;
  z-index: 99;
}

.tooltip-trigger:hover {
  > .tooltip  {
    display: block;
  }
}

.hide {
  display: none !important;
}

.display-block {
  display: block;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.user-profile-picture {
  min-width: 64px;
  height: 64px;
  border-radius: 50%;
}

.user-profile-picture-small {
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar-background {
  color: $grey-2;
}

.avatar-foreground {
  color: $white;
}

.input-helper-text {
  margin-top: 0;
}