/* You can add global styles to this file, and also import other style files */
@import './app/core/scss/variables.scss';
@import './app/core/scss/controls.scss';
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: Roboto, sans-serif;
}

th, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.danger {
  background-color: $signaldanger;
  color: $white !important;
}

.danger-text {
  color: $signaldanger !important;
}

.warn {
  background-color: $signalwarn;
  color: $white !important;
}

.warn-text {
  color: $signalwarn !important;
}

.info {
  background-color: $signalinfo;
  color: $white !important;
}

.info-text {
  color: $signalinfo !important;
}

.ok {
  background-color: $signalok;
  color: $white !important;
}

.ok-text {
  color: $signalok !important;
}

.primary {
  background-color: $primary;
  color: $white !important;
}

.primary-light {
  background-color: $primary-light;
  color: $black !important;
}

.primary-dark {
  background-color: $primary-dark;
  color: $white !important;
}

.secondary {
  background-color: $secondary;
  color: $black !important;
}

.secondary-light {
  background-color: $secondary-light;
  color: $black !important;
}

.secondary-dark {
  background-color: $secondary-dark;
  color: $black !important;
}

.margin-top-1 {
  margin-top: margin(1);
}

.margin-right-1 {
  margin-right: margin(1);
}

.margin-left-1 {
  margin-left: margin(1);
}

.margin-bottom-1 {
  margin-bottom: margin(1);
}

.margin-bottom-2 {
  margin-bottom: margin(2);
}

.auto-overflow {
  overflow: auto;
}

.content-container {
  background-color: white;
  padding: padding(2);
  margin-top: margin(3);
}

.site-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: margin(8);
}

.flex {
  display: flex;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-shrink {
  flex: 0 1 auto;
}

.flex-column {
  flex-direction: column;
}

.pos-relative {
  position: relative;
}

.tooltip {
  background-color: #1a1a1acc;
  color: white;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  display: none;
  width: 160px;
  text-align: center;
  left: -45px;
  z-index: 99;
}

.tooltip-trigger:hover {
  > .tooltip  {
    display: block;
  }
}

.menu {
  display: none;
  padding: padding(1) 0;
  position: absolute;
  border: 1px solid $dark-1;
  z-index: 99;
  background-color: $white;
  border-radius: $radius;
}

.hide {
  display: none;
}

.display-block {
  display: block;
}

.text-left {
  text-align: left;
}

