@import '../../../../core/scss/variables.scss';
@import '../../../../core/scss/ckcontent.scss';

:host {
  .article-header {
    margin: 0;
    margin-bottom: margin(2);
    font-size: 2rem;
  }

  .article-content,
  .article-footer {
    margin-top: margin(4);
  }

  .article-footer {
    clear: both;
  }

  .article-info,
  .article-footer {
    font-size: .9rem
  }

  .page-header {
    text-align: center;
  }

  .spacer {
    margin: 0 margin(0.5);
  }

  .icon-label > fa-icon {
    margin-right: margin(0.5);
  }

  .inline {
    display: inline;
  }
}