$sif-primary: (
    50 : #e7f3e7,
    100 : #c2e0c2,
    200 : #99cc99,
    300 : #70b870,
    400 : #52a852,
    500 : #339933,
    600 : #2e912e,
    700 : #278627,
    800 : #207c20,
    900 : #146b14,
    A100 : #a2ffa2,
    A200 : #6fff6f,
    A400 : #3cff3c,
    A700 : #23ff23,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sif-accent: (
    50 : #fffde7,
    100 : #fff9c4,
    200 : #fff59d,
    300 : #fff176,
    400 : #ffee58,
    500 : #ffeb3b,
    600 : #ffe935,
    700 : #ffe52d,
    800 : #ffe226,
    900 : #ffdd19,
    A100 : #ffffff,
    A200 : #fffffd,
    A400 : #fff7ca,
    A700 : #fff2b1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sif-warn: (
    50 : #fcf7e5,
    100 : #f8ecbf,
    200 : #f4df94,
    300 : #efd269,
    400 : #ebc948,
    500 : #e8bf28,
    600 : #e5b924,
    700 : #e2b11e,
    800 : #dea918,
    900 : #d89b0f,
    A100 : #ffffff,
    A200 : #fff0d2,
    A400 : #ffdf9f,
    A700 : #ffd785,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sif-error: (
    50 : #f4e5e6,
    100 : #e3bec0,
    200 : #d09396,
    300 : #bd676c,
    400 : #af474d,
    500 : #a1262d,
    600 : #992228,
    700 : #8f1c22,
    800 : #85171c,
    900 : #740d11,
    A100 : #ffa7a8,
    A200 : #ff7476,
    A400 : #ff4145,
    A700 : #ff272c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$sif-ok: (
    50 : #e0f1ec,
    100 : #b3ddcf,
    200 : #80c7af,
    300 : #4db08e,
    400 : #269f76,
    500 : #008e5e,
    600 : #008656,
    700 : #007b4c,
    800 : #007142,
    900 : #005f31,
    A100 : #90ffc0,
    A200 : #5dffa3,
    A400 : #2aff85,
    A700 : #10ff77,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sif-info: (
    50 : #e4e5ec,
    100 : #bcbdcf,
    200 : #8f92b0,
    300 : #626690,
    400 : #404578,
    500 : #1e2460,
    600 : #1a2058,
    700 : #161b4e,
    800 : #121644,
    900 : #0a0d33,
    A100 : #6e76ff,
    A200 : #3b47ff,
    A400 : #0817ff,
    A700 : #000eed,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

