@import './variables.scss';

.control-group {
  display: flex;
  > .btn, select, input{
    border-radius: 0;
  }

  > .btn-icon {
    padding: padding(1) padding(2);
  }
}

.horizontal-group {
  :first-child {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
  }

  :last-child {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
  }
}

.vertical-group {
  flex-direction: column;

  :first-child {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  :last-child {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}