@import "./variables";

.m-1 {
  margin: margin(1);
}
.m-2 {
  margin: margin(2);
}
.m-3 {
  margin: margin(3);
}
.m-4 {
  margin: margin(4);
}
.m-5 {
  margin: margin(5);
}

.mt-1 {
  margin-top: margin(1);
}
.mt-2 {
  margin-top: margin(2);
}
.mt-3 {
  margin-top: margin(3);
}
.mt-4 {
  margin-top: margin(4);
}
.mt-5 {
  margin-top: margin(5);
}

.mb-1 {
  margin-bottom: margin(1);
}
.mb-2 {
  margin-bottom: margin(2);
}
.mb-3 {
  margin-bottom: margin(3);
}
.mb-4 {
  margin-bottom: margin(4);
}
.mb-5 {
  margin-bottom: margin(5);
}

.ml-1 {
  margin-left: margin(1);
}
.ml-2 {
  margin-left: margin(2);
}
.ml-3 {
  margin-left: margin(3);
}
.ml-4 {
  margin-left: margin(4);
}
.ml-5 {
  margin-left: margin(5);
}

.mr-1 {
  margin-right: margin(1);
}
.mr-2 {
  margin-right: margin(2);
}
.mr-3 {
  margin-right: margin(3);
}
.mr-4 {
  margin-right: margin(4);
}
.mr-5 {
  margin-right: margin(5);
}

.mx-1 {
  margin: 0 margin(1);
}
.mx-2 {
  margin: 0 margin(2);
}
.mx-3 {
  margin: 0 margin(3);
}
.mx-4 {
  margin: 0 margin(4);
}
.mx-5 {
  margin: 0 margin(5);
}

.my-1 {
  margin: margin(1) 0;
}
.my-2 {
  margin: margin(2) 0;
}
.my-3 {
  margin: margin(3) 0;
}
.my-4 {
  margin: margin(4) 0;
}
.my-5 {
  margin: margin(5) 0;
}

.m-auto {
  margin: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto{
  margin: 0 auto;
}
.my-auto {
  margin: auto 0;
}