@import './variables.scss';

table {
  width: 100%;
  background-color: $white;
  border-collapse: collapse;
  border: 1px solid $grey-1;
}

table {
  thead, tbody,
  tr:not(:last-child) {
    border-bottom: 1px solid $grey-1;
  }

  tr:nth-child(even) {
    background-color: $grey-1;
  }
}

thead, tfoot {
  text-align: left;
  
}

th {
  padding: padding(2) 0;
}

td {
  padding: padding(1) 0;
}

tr {
  th:first-child, 
  td:first-child {
    padding-left: padding(2) ;
  }

  th:last-child,
  td:last-child {
    padding-right: padding(2);
  }
}