@import './variables.scss';

table {
  width: 100%;
  background-color: $white;
  border-spacing: 0;
}

table {
  tr:nth-child(even) {
    background-color: $grey-1;
  }

  thead tr th {
    border-top: 1px solid $grey-1;
  }

  thead tr th:first-child {
    border-top-left-radius: $radius;
    
  }

  thead tr th:last-child {
    border-top-right-radius: $radius;
  }

  tfoot tr th:first-child {
    border-bottom-left-radius: $radius;
  }
  tfoot tr th:last-child {
    border-bottom-right-radius: $radius;
  }
}

thead, tfoot {
  text-align: left;
}

th {
  padding: padding(2) 0;
  border-bottom: 1px solid $grey-1;
}

td {
  padding: padding(1) 0;
  border-bottom: 1px solid $grey-1;
}

tr {
  th:first-child, 
  td:first-child {
    padding-left: padding(2);
    border-left: 1px solid $grey-1;
  }

  th:last-child,
  td:last-child {
    padding-right: padding(2);
    border-right: 1px solid $grey-1;
  }
}