@import '~@angular/material/theming';
@import './colors.scss';

@include mat-core();


$sif-theme-primary: mat-palette($sif-primary);
$sif-theme-accent: mat-palette($sif-accent);
$sif-theme-warn: mat-palette($sif-warn);
$sif-theme-error: mat-palette($sif-error);
$sif-theme-ok: mat-palette($sif-ok);
$sif-theme-info: mat-palette($sif-info);

$sif-app-theme: mat-light-theme(
  $sif-theme-primary,
  $sif-theme-accent,
  $sif-theme-error,
);


// @include angular-material-theme($sif-app-theme);
