<input type="text" list="categories-list" [(ngModel)]="categoryName" (change)="onChange($event)">

<datalist id="categories-list">
  <option *ngFor="let category of categories" [value]="category.name" >
</datalist>

<div class="badge-container">
  <span class="badge" *ngFor="let category of contectedCategories">
    <span class="badge-content">{{category}}</span>
    <button class="badge-remove" (click)="remove(category)">
      <fa-icon [icon]="removeIcon"></fa-icon>
    </button>
  </span>
</div>
