@import '../../../../../core/scss/variables.scss';

:host {
    .badge-container {
        padding: padding(2) 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .badge {
        border: 1px solid black;
        padding: padding(0.5) padding(4);
        border-radius: 16px;
        background-color: $grey-1;
        margin-bottom: margin(1);
        position: relative;
    }

    .remove {
        display: none;
        position: absolute;
        right: 10px;
        cursor: pointer;
    }

    .badge:hover {
        > .remove {
            display: inline;
        }
    }
}