<p>
  by Stephan
  <fa-icon [icon]="['far', 'copyright']" size="xs"></fa-icon>
  <!--|
  <a [routerLink]="['index']" [queryParams]="{ title: 'Datenschutzerklärung'}">Datenschutzerklärung</a> -
  <a>Impressum</a> --> |
  Build: {{version}} |
  <a href="https://www.w3.org/html/" target="_blank"><fa-icon [icon]="['fab', 'html5']"></fa-icon></a> |
  <a href="https://angular.io/" target="_blank"><fa-icon [icon]="['fab', 'angular']"></fa-icon></a> |
  <a href="https://sass-lang.com/" target="_blank"><fa-icon [icon]="['fab', 'sass']"></fa-icon></a> |
  <a href="https://fontawesome.com/" target="_blank"><fa-icon [icon]="['fab', 'font-awesome']"></fa-icon></a> |
  <a href="https://nodejs.org/en/" target="_blank"><fa-icon [icon]="['fab', 'node-js']"></fa-icon></a>
</p>
