<p>
  by Stephan
  <fa-icon [icon]="copyright" size="xs"></fa-icon>
  <!--|
  <a [routerLink]="['index']" [queryParams]="{ title: 'Datenschutzerklärung'}">Datenschutzerklärung</a> -
  <a>Impressum</a> --> |
  Build: {{version}} |
  <a href="https://www.w3.org/html/" target="_blank"><fa-icon [icon]="html5"></fa-icon></a> |
  <a href="https://angular.io/" target="_blank"><fa-icon [icon]="angular"></fa-icon></a> |
  <a href="https://sass-lang.com/" target="_blank"><fa-icon [icon]="sass"></fa-icon></a> |
  <a href="https://fontawesome.com/" target="_blank"><fa-icon [icon]="fontAwesome"></fa-icon></a> |
  <a href="https://nodejs.org/en/" target="_blank"><fa-icon [icon]="nodeJs"></fa-icon></a>
</p>
