<div class="editor-head-container">
  <h1 class="mr-2">Seite editieren</h1>
</div>

<input type="text" class="title-input mb-1" [(ngModel)]="title" placeholder="Titel der Seite" (change)="onUpdateArticleTitle()">
<div class="flex mb-1">
  <div class="flex-grow">
    <ckeditor
      #pageEditor
      [editor]="editor"
      (blur)="onUpdateArticleText($event)"
      (ready)="onReady($event)"
    ></ckeditor>
  </div>
  <div class="article-setting-container flex-shrink ml-1">
    <h2>Einstellungen</h2>
    <app-article-setting name='Status' type='status'></app-article-setting>
    <app-article-setting name='Kommentare' type='allowComments' label='Kommentare erlauben'></app-article-setting>
    <app-article-setting name='Erstelldatum' type='createDate'></app-article-setting>
  </div>
</div>
